# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build
/bin/
/build/
/dist/
*.test

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment File
.env

# Logs
*.log

# Exectuable
iptv-updater